* {
    box-sizing: border-box;
}

.projectsSummaryMain{
    width:100%;
}

.individualProjects{
    display:grid;
    width: 70%;
    margin: 50px auto 200px auto;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
}

.individualProjects img{
    width:80%;
    margin: 0 auto;
}

.individualProjects span{
    grid-column: 1 / 3;
}