* {
    box-sizing: border-box;
}

.projectsSummaryMain{
    width:100%;
}

.individualProjects{
    display:grid;
    width: 70%;
    margin: 50px auto 200px auto;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
}

.individualProjects img{
    width:80%;
    margin: 0 auto;
}


.individualProjects span{
    grid-column: 1 / 3;
}

.individualProjects section{
    background-color: var(--softBlack);
    opacity:90%;
    border-radius: 1em;
    padding: 0 20px;
}

h3{
    margin: 20px auto;
}

@media only screen and (max-width: 1024px){
    .individualProjects{
        grid-template-columns: 1fr;
        width:60%;
    }
    .individualProjects span{
        grid-column: 1;
    }
}

@media only screen and (max-width: 600px){
    .individualProjects{
        width:90%;
    }

}