.App {
  text-align: center;
}

html{
  margin:0;
}

body{
  background-color: #141414;
}

h1, h2,p, ul{
  color: #BEA8A2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
  position: fixed;
  top: 10vh;
  right: 40px;
  z-index: 99;
}

nav ul li{
  cursor: pointer;
  list-style-type:none;
  text-align: right;
  padding:15px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.active{
  text-decoration: underline #BEA8A2 ;
}

