#mainheader {
    background-image: url("./assets/grønntopp.png");
    display: flex;
    align-items: center;
    justify-content: center;
}

.portrait {
    width: 20%;
    border-radius: 50%;
}

#projectsSummaryMain {
    background-image: url("./assets/greensidesflipped.png");
    background-position:right;
}

#aboutMeMain {
    background-image: url("./assets/greensides.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.frontpageParts {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
}

#aboutMeContent {
    width: 60%;
    background-color: var(--softBlack);
    opacity:90%;
    border-radius: 1em;
    padding: 0 20px;
}

.logo {
    height: 5vh;
    margin: 0 20px;
}

#projectNavigation a{
    margin:20px 20px 0 20px;
    text-decoration: none;
}

footer section{
    width:75%;
    margin: 0 auto;
    margin-bottom: 80px;
}

footer{
    position: relative;
    min-height:100vh;
    background-color: #282828;
    padding: 8vh 0;
}

#footerEnd{
    position:absolute;
    bottom:0;
    width:100%;
    margin-top: 100px;
    text-align: center;
}

.projectsButton{
    align-items: center;
    background-color: var(--softBlack);
    border: 2px solid var(--beige);
    box-sizing: border-box;
    color: var(--beige);
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.projectsButton:hover{
    border-color: var(--medGreen);
    color: var(--medGreen);
    fill: var(--medGreen);
}

.projectsButton:active{
    border-color: var(--lightGreen);
    color: var(--lighGreen);
    fill: var(--Green);
}

/*Responsive designs*/
@media only screen and (max-width: 600px){
    #aboutMeMain, #projectsSummaryMain{
        background-image: none;
        background-color: var(--softBlack);
    }

    #aboutMeContent, footer section{
        width:90%;
    }

    #projectNavigation{
        display:flex;
        flex-direction: column;
    }

    .portrait{
        width:40%;
    }
}