#mainheader {
    background-image: url("./assets/grønntopp.png");
    display: flex;
    align-items: center;
    justify-content: center;
}

.portrait {
    width: 20%;
    border-radius: 50%;
}

#projectsSummaryMain {
    background-image: url("./assets/greensides.png");
    height:150vh;
}

#aboutMeMain {
    background-image: url("./assets/mindregron.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.frontpage-parts {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
}

#aboutMeContent {
    width: 70%;
}

.logo {
    height: 5vh;
    margin: 0 20px;
}

#projectNavigation a{
    text-decoration: none;
    margin: 0 20px;
    color: var(--lightGreen);
  }